<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.musicplayer.mp3player.playermusic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
        <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->

    <permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ReservedSystemPermission" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.musicplayer.mp3player.playermusic.BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.plashscreen.PlashScreenActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.language.SelectLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="locked" />

        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.playing.NowPlayingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.sort_playlist.SortPlaylistActivity"
            android:screenOrientation="portrait" />
        <!--       <activity
                   android:name="com.downloadmp3player.musicdownloader.freemusicdownloader.ui.activity.lookscreen.CarPlayerActivity"
                   android:launchMode="singleTop"
                   android:showOnLockScreen="true"
                   android:theme="@style/AppTheme.NoActionBar.ThemeLockScreen" />-->
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.ringtone.RingtoneMakerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.scaningmusic.ScanMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullActivityBG" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.theme.CustomThemesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullActivityBG" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.soundeditor.RingdroidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.equalizer.EqualizerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.addsong.AddSongFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.lyrics.BrowserLyricAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.permission.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.playing.PlayerMusicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullActivityBG" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.list.ListSongActivityCallBack"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.musicplayer.mp3player.playermusic.ui.activity.youtube_search.YoutubeSearchWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.musicplayer.mp3player.playermusic.service.MusicPlayerService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.musicplayer.mp3player.playermusic.service.receiver.ScreenActionReceiver"
            android:exported="true">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.musicplayer.mp3player.playermusic.service.receiver.BroadcastControl"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.musicplayer.mp3player.playermusic.service.receiver.ShakeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="shake.detector" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.musicplayer.mp3player.playermusic.service.receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.musicplayer.mp3player.playermusic.utils.FileProvider"
            android:authorities="${filesAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wtf_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id" />

        <service
            android:name="com.musicplayer.mp3player.playermusic.service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="DefaultMusicPlayer" />
    </application>
</manifest>